<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  </div>
<h2>Look for movies or actors: </h2>
<app-click-find></app-click-find>

<div class="row" *ngFor="let movie of movie.movieList">

  <div *ngIf="movie.known_for === undefined" class="movieViewCmp" style="width: 33%;
    height: 500px;
    float: left;
    text-align: center;
    padding-top: 10px;    min-width: 350px;">
      <img style="border-radius: 2px;" src ="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}">
    <div>{{movie.title}}</div>
  </div>

<div *ngIf="movie.known_for !== undefined">
<div *ngFor="let actorMovie of movie.known_for">
  <div class="movieViewCmp" style="width: 33%;
    height: 500px;
    float: left;
    text-align: center;
    padding-top: 10px;    min-width: 350px;">
      <img style="border-radius: 2px;" src ="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{actorMovie.poster_path}}">
    <div>{{actorMovie.title}} ({{movie.name}}) </div>
  </div>
</div>

</div>

</div>
