<!--The content below is only a placeholder and can be replaced.-->

<!--Search Options Panel-->
<div class="search_panel ">
  <div class="row">
    <div class="col-md-2">
      <select (change)="onChange($event)" (ngModel)="findBy">
          <option value="movieName">By Movie</option>
          <option value="actorName">By Actor</option>
      </select>
    </div>
    <div class="col-md-2">
      <input (keyup)="onKey($event)" placeholder="Actor Or Movies Name..">
    </div>
    <div class="col-md-2">
      <button class="btn btn-default" (click)="onClickFind('undefined')">Search</button>
    </div>
  </div>
</div>

<!--Results Panel-->
<div class="results_movie_panel row"  *ngIf="!showDetail">
   <div *ngFor="let movie of movieList">
    <div *ngIf="movie.known_for === undefined" class="movieViewCmp" >
        <img style="border-radius: 2px;"  src ="{{baseImagesURLPath}}{{movie.poster_path}}">
      <div>{{movie.title}}</div>
    </div>

    <div *ngIf="movie.known_for !== undefined">
      <div  class="movieViewCmp" style=" cursor: pointer;" (click)="getAutorDetail(movie)" >
          <img style="border-radius: 2px;" src ="{{baseImagesURLPath}}{{movie.profile_path}}">
        <div>{{movie.name}}</div>
      </div>
    </div>
  </div>


  <!--Not Found Page-->
  <div *ngIf="movieList.length === 0" class="notFoundPage">Info Not Found</div>
</div>



<!--Show Actor Detail Section-->
<div class="detail_autor_panel" *ngIf="showDetail">
  <div class="row">


    <!--Actor Section Section-->
    <div class="col-md-3">
      <div  class="movieViewCmp"  >
          <img style="border-radius: 2px;" width="100%" src ="{{baseImagesURLPath}}{{autorDetail.profile_path}}">
        <div>{{autorDetail.name}}</div>
      </div>
    </div>

    <!--Actor Movie List Section-->
    <div class="col-md-9">
           <div *ngFor="let autorMovie of movieList">


                <div class="row movieDetail" *ngIf="autorMovie.poster_path !== null">
                    <!--Actor Movie List Image-->
                  <div class="col-md-2" style="padding-left: 0px;">
                      <img style="border-radius: 2px" width="150" src ="{{baseImagesURLPath}}{{autorMovie.poster_path}}">
                  </div>

                    <!--Actor Movie List Description-->
                  <div class="col-md-10" style="padding: 20px 50px;">
                    <div class="row"  style="margin-bottom: 20px; font-weight: 500;">
                      <div class="col-md-6">
                           {{autorMovie.title}}
                      </div>
                      <div class="col-md-6"  style="text-align:right">
                          <div class="glyphicon glyphicon-calendar"></div>

                           {{autorMovie.release_date}}
                             <div class="fa fa-calendar"></div>
                      </div>
                    </div>
                    <div class="row">
                        <div  class="col-md-12">
                             {{autorMovie.overview}}
                        </div>
                    </div>
                  </div>
                </div>

           </div>
    </div>
  </div>
</div>



<!--Pagination Panel-->
<div class="page_panel" >
  <div class="row" *ngIf="!showDetail">
    <div class="col-md-12">
        <button class="btn btn-default" (click)="onClickFind('prev')"> << Prev </button>
        <span>{{currentPageNumber}}</span>
        <button class="btn btn-default" (click)="onClickFind('next')"> Next >> </button>
    </div>
  </div>
</div>
