
body{
    background-color: #f6f6f6;
}

.movieViewCmp{
    height: 550px;
    float: left;
    text-align: center;
    padding-top: 10px;
    width: 400px;
}

.results_movie_panel div  {
  float: left;
  width: 400px;
}

.search_panel {
    position: fixed;
    top: 0;
    left: 0;
}
.page_panel span{
  color:#fff;
}

.page_panel div{
  text-align: center;
}


.page_panel,.search_panel {
  background-color: #081c24;
  width: 100%;
  z-index: 999;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 74px;
}

.search_panel select, .search_panel input{
  width: 100%;
  height: 100%;
}

.search_panel button, .page_panel button{
  width: 80px;
  background-color: transparent;
  color: #ffca28;
  border: 1px solid;
  padding-top: 3px;
  font-weight: 100;
  height: 100%;
}

.search_panel button:hover, .page_panel button:hover{
  font-weight: 400;
  box-shadow: 0px 0px 2px #fff;
}

.results_movie_panel {
  margin-top: 90px;
  margin-bottom: 90px;
  font-weight: bold;
  font-size: 20px;
}



/*Detaile*/

.detail_autor_panel{
  margin-top: 80px;
}
.movieDetail{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
    font-size: 15px;
}

.notFoundPage{
  height: 500px;
  text-align: center;
  width: 100%;
  font-size: 60px;
  font-weight: 500;
  padding-top: 55px;
}
